[submodule "w32api"]
	path = w32api
	url = https://github.com/enlyze/w32api
	branch = wip
[submodule "binutils"]
	path = binutils
	url = https://github.com/salman-javed-nz/binutils-gdb
	branch = ce-2.43.1
[submodule "gcc"]
	path = gcc
	url = https://github.com/salman-javed-nz/gcc
	branch = ce-14.2.0
[submodule "mingw"]
	path = mingw
	url = https://github.com/salman-javed-nz/mingwrt
	branch = master
